<section class="content-header">
    <!--Place user orientation here.-->
    <h1>
        <span class="fa fa-user-plus"></span>My Profile<small>View / Edit and Save Profile Information</small>
    </h1>    
    <ol class="breadcrumb">
        <li><i class="iconfa-home"></i>@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="active"><i class="fa fa-user-plus"></i>@Html.ActionLink("Profile", "Index", "Profile")</li>
    </ol>
</section>
