

<footer class="main-footer">
    <div class="pull-left hidden-xs footer-left">
        <span>
            Support Email: <strong>
                <a href="mailto:support_iaccess@sitel.com?cc=gurdeep.singh@sitel.com;paras.parmar@sitel.com;komal.trivedi@sitel.com&amp;subject=iAccess%20Issue&amp;body=Hi%20Team%2C%0A%0AThis%20is%20my%20iAccess%20Issue%3A%20%0A%0APasted%20below%20is%20a%20screenshot%20of%20the%20same.">
                    iAccess
                </a>
            </strong>
        </span>
    </div>
    <!--Support Footer-->
    <div class="pull-right hidden-xs footer-right">
        <span>Designed, Maintained & Supported by: <strong><a href="http://www.sitel.com/">WorkForce Analytics</a></strong></span>
    </div>
    <!--Identity Footer-->
</footer>