@using iAccess.Models;
@{
    getEmployeeData_Result Model = ViewData.Model as getEmployeeData_Result;

}

<section class="content-header">
    <!--Place user orientation here.-->
    <h1>@Model.FullName <small>@Model.Employee_ID.ToString()</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
        <li><a href="#">Examples</a></li>
        <li class="active">Blank page</li>
    </ol>
</section>